# dependencies
node_modules/
npm-debug.log
yarn-error.log
package-lock.json

# environment
.env
.env.local

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# logs
*.log

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
!.env.example
